<div class="exhibition-listing">
	<div class="exhibition-heading serif">
		<div class="exhibition-title"><%= exhibition.title if exhibition.title %></div>
		<div class="exhibition-subtitle"><%= exhibition.subtitle if exhibition.subtitle %></div>
	</div>
	<div class="exhbition-detail sans">
		<span class="venue"><%= exhibition.venue.name if exhibition.venue %></span>
		<span class="city"><%= exhibition.venue.city if exhibition.venue %></span>
		<span class="year"><%= exhibition.year if exhibition.year %></span>
	</div>

</div>