<p id="notice"><%= notice %></p>
<div class="back-link"><%= link_to 'Back', artworks_path %></div>

<div id="artwork-show-container">
<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>
<%if @artwork.artwork_images.last %>
<div class="artwork-show-image" style="background-image:url(<%=@artwork.artwork_images.last.image_url%>)"></div>
<% end %>
<p>
  <strong>Year started:</strong>
  <%= @artwork.year_started %>
</p>

<p>
  <strong>Year completed:</strong>
  <%= @artwork.year_completed %>
</p>

<p>
  <strong>Exhibition:</strong>
  <%= @artwork.exhibition_id %>
</p>

<p>
  <strong>Mediums:</strong>
  <%= @artwork.mediums %>
</p>

<p>
  <strong>Height:</strong>
  <%= @artwork.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @artwork.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @artwork.depth %>
</p>

</div>


