<p id="notice"><%= notice %></p>

<h1>Listing Artwork Images</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Shot Type</th>
      <th>Artwork </th>
      <th>Artwork ID </th>
      <th>Image URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artwork_images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.description %></td>
        <td><%= image.shot_type %></td>
        <td><%= Artwork.find(image.artwork_id).title %></td>
        <td><%= image.artwork_id%></td>
        <td><%= link_to image.image_url, image.image_url if image.image_url %></td>
        <td><%= link_to 'Show', admin_artwork_image_path(image) %></td>
        <td><%= link_to 'Edit', edit_admin_artwork_image_path(image) %></td>
        <td><%= link_to 'Destroy', admin_artwork_image_path(image), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to artworks', admin_artworks_path %>
