<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|Cabin:400,400italic' rel='stylesheet' type='text/css'>
  <title><%=Rails.configuration.x.artist.name%></title>
  <%= favicon_link_tag URI.encode(Rails.configuration.x.artist.favicon) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "/home/top_nav" %>
<% if current_user %>
	<%= link_to 'Log Out', sessions_path, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
